<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
</head>


<!-- URL Index List -->
    


<body style="font-size:20px; padding:50px;">
<!-- Add EJS code here -->
<% include ./partials/_header %>
<%if (user !== undefined) {%>
<p><strong>Your personal URL list 🙂 </strong></p>
<table class="table">
    <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th></th>
        <th></th>
        <%for (var url in urls) {%>
    <tr>
        <td><a href="<%=urls[url]%>"><%=url%></a></td> 
        <td><a href="<%=urls[url]%>"><%=urls[url]%></a></td>
        <td><a class="btn btn-primary" href="/urls/<%=url%>" role="button">Edit</a></td>
        <td><form method="POST" action="/urls/<%=url%>/delete/?_method=DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form></td>
    </tr>
    <%}%>
</table>
<%} else {%>
    <p>Please log in or register first!</p>
<%}%>
</body>
</html>
