<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
</head>
    
<body style="font-size:20px; padding:50px;">
<% include ./partials/_header %>

<!-- URL Index List -->

<%if (user !== undefined) {%>
    
<p><strong>Your personal URL list 🙂 </strong></p>
    
<table class="table">
    <tr>
        <th scope="col">Short URL</th>
        <th scope="col">Long URL</th>
        <th></th>
        <th></th>
    </tr>
    <%for (var url in urls) {%>
    <tr>
        <th scope="row"><%=url%></th>
        <th><a href="/urls/<%=url%>"><%=urls[url]%></a></th>
        <th><a class="btn btn-primary" href="/urls/<%=url%>" role="button">Edit</a></th>
        <th><form method="POST" action="/urls/<%=url%>/delete">
                <button class="btn btn-danger">DELETE</button></form></th>
    </tr>
    <%}%>
    <%} else {%>
        <p>Please login or register!</p>
    <%}%>
</body>
</html>